{% extends '::layout.html.twig' %}



{% block mainMenu %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Configuration</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('config_page') }}"><i class="fa fa-caret-right"></i>Automatisation</a></li>
    <li>
      <a href="{{ path('type-reclamation_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ reclamation</a>
    </li>
    <li><a href="{{ path('type-reclamation') }}"><i class="fa fa-caret-right"></i>Liste typ de reclamation</a></li>
    <li><a href="{{ path('type-demande_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ demande</a></li>
    <li><a href="{{ path('type-demande') }}"><i class="fa fa-caret-right"></i>Liste typ demande</a></li>
    <li><a href="{{ path('import_data') }}"><i class="fa fa-caret-right"></i>Importation</a></li>
    <li><a href="{{ path('admin') }}"><i class="fa fa-caret-right"></i>Listes des administrateurs</a></li>
    <li><a href="{{ path('admin_new') }}"><i class="fa fa-caret-right"></i>Creer un Administrateur</a></li>
  </ul>
</li>
{% else %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamation') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
    </li>
  </ul>
</li>
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listedemande') }}"><i class="fa fa-caret-right"></i>Liste des demandes</a>
    </li>
    <li><a href="{{ path('listedemandechangement') }}"><i class="fa fa-caret-right"></i>Liste des changements</a></li>
  </ul>
</li>
{% endif %}
{% endblock %}
{% block content %}

<div class="row">
        
    <div class="col-md-4">
      <div class="panel panel-default panel-alt widget-messaging">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="{{ path('type-reclamation_delete_get', { 'id': entity.id }) }}" class="panel-edit"><i class="fa fa-trash-o"></i></a>
            <a href="{{ path('type-reclamation_edit', { 'id': entity.id }) }}" class="panel-edit"><i class="fa fa-edit"></i></a>
          </div><!-- panel-btns -->
          <h3 class="panel-title">{{entity.libelle}}</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              <h4 class="sender">Code :</h4>
              {{entity.code}}
            </li>
            <li>
              <h4 class="sender">Max autorise :</h4>
              {{entity.maxAutorise}}
            </li>
            <li>
               <h4 class="sender">Nombre du reclamation :</h4>
              {{entity.count()}}
            </li>
          </ul>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="#" class="minimize">&minus;</a>
              </div>
              <h4 class="panel-title">Liste des reclamations effectue</h4>
              <p></p>
            </div>

            <div class="panel-body">
              <table class="table  table-hidaction table-hover" id="list-reclamation">
                  <thead>
                     <tr>
                        <th>Nom/Prenom</th>
                        <th>Date</th>
                        
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     
                     {% for reclamation in entity.reclamations %}
                        <tr class="odd gradeX">
                            <td>{{ reclamation.etudiant.nom }} {{ reclamation.etudiant.prenom }}</td>
                            <td>{{ reclamation.createdAt }}</td>
                            
                            <td>{{ reclamation.status }}</td>
                            <td  class="table-action-hide">
                                <a href="#"><i class="fa fa-list-alt" title="show"></i></a>
                                <a href="#" title="repondre"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
               </table>
            </div><!-- panel-body -->
            
          <div class="panel-footer">
           <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            </div>
           </div>
          </div><!-- panel-footer -->

        </div><!-- panel -->
    </div>
</div>

{% endblock %}

{% block javascripts %}
   {{ parent() }}               
  <script>
    jQuery(document).ready(function() {
      jQuery('#list-reclamation').dataTable({
        "sPaginationType": "full_numbers"
      });
    
        // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
    });
  </script>          
{% endblock %}
