{% extends "::frontend.html.twig" %}
{% block breadcrumb %}
  <li>changement de module</li>
          <li class="active">changer</li>

{% endblock %}
{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-maxcdn"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Consulter les rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    <li><a href="{{ path('changer') }}"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
    <li><a href="{{ path('module_libre') }}"><i class="fa fa-caret-right"></i>Module libre</a></li>

  </ul>
</li>
{% endblock %}

{% block title %} Changement de Module{% endblock %} 

{% block content %}
<div class="col-md-12">
    <form id="basicForm" action="{{ path('changer') }}" class="form-horizontal" novalidate="novalidate" method="POST">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="minimize">−</a>
                </div>
                <h2 class="panel-title">Changement de Module</h2>           
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-6">
                        
                        {% if modules_non_etudierS1S3 != "" %}
                            <h3>Premiere Semestre</h3>
                            <h4>Module a etudier</h4>
                            <ul>
                                {% for mnv in modules_non_validerS1S3 %}
                                <li>{{ mnv.element.code }} &nbsp; : &nbsp;&nbsp; {{ mnv.element.lib }}</li>
                                {% endfor %}
                            </ul>
                            <label >Choix de Module</label><br />
                                {% for mnv in modules_non_etudierS1S3 %}
                            <input  type="radio" name="module1s" value="{{ mnv.code }}" checked />&nbsp;{{ mnv.lib }} &nbsp;({{ mnv.code }})<br />
                                {% endfor %}
                        {% endif %}
                                    
                        {% if modules_non_etudierS2S4 != "" %}
                            <h3>Deuxieme Semestre</h3>
                            <h4>Module a etudier</h4>
                            <ul>
                            {% for mnv in modules_non_validerS2S4 %}
                            <li>{{ mnv.element.code }} &nbsp; : &nbsp;&nbsp; {{ mnv.element.lib }}</li>
                            {% endfor %}
                            </ul>
                            <label >Choix de Module</label><br />
                            {% for mnv in modules_non_etudierS2S4 %}
                             <input  type="radio" name="module2s" value="{{ mnv.code }}" checked />&nbsp;{{ mnv.lib }} &nbsp;({{ mnv.code }})<br />
                            {% endfor %}  
                        {% endif %}
                             
                        {% if modules_non_etudierS3S5 != "" %}
                            <h3>Premiere Semestre</h3>
                            <h4>Module a etudier</h4>
                            <ul>
                            {% for mnv in modules_non_validerS3S5 %}
                            <li>{{ mnv.element.code }} &nbsp; : &nbsp;&nbsp; {{ mnv.element.lib }}</li>
                            {% endfor %}
                            </ul>
                            <label >Choix de Module</label><br />
                            {% for mnv in modules_non_etudierS3S5 %}
                             <input  type="radio" name="module1s" value="{{ mnv.code }}" checked />&nbsp;{{ mnv.lib }} &nbsp;({{ mnv.code }})<br />
                            {% endfor %}  
                        {% endif %}
                             
                        {% if modules_non_etudierS4S6 != "" %}
                            <h3>Deuxieme Semestre</h3>
                            <h4>Module a etudier</h4>
                            <ul>
                            {% for mnv in modules_non_validerS4S6 %}
                            <li>{{ mnv.element.code }} &nbsp; : &nbsp;&nbsp; {{ mnv.element.lib }}</li>
                            {% endfor %}
                            </ul>
                            <label >Choix de Module</label><br />
                            {% for mnv in modules_non_etudierS4S6 %}
                             <input  type="radio" name="module2s" value="{{ mnv.code }}" checked />&nbsp;{{ mnv.lib }} &nbsp;({{ mnv.code }})<br />
                            {% endfor %}  
                        {% endif %}
                                
                              
                        <br /><input class="btn btn-primary" name='envoyer' type='submit' value='Envoyer' />  
                    </div>
                </div>        
            </div><!-- panel-body -->
        </div><!-- panel -->
    </form>
</div>
{% endblock %}

