{% extends "::frontend.html.twig" %}

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Consulter les rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    <li><a href="{{ path('changer') }}"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
  </ul>
</li>
{% endblock %}

{% block title %} Changement de Module : Refuser {% endblock %}

{% block content %}


<div class="col-md-12">
          <form id="basicForm" action="http://themepixels.com/demo/webpage/bracket/form-validation.html" class="form-horizontal" novalidate="novalidate">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Demande Refuser</h4>
                <p>Vous avez atteindre le nombre autorise ({{ count }}) pour la demande : (Changment de Module)</p>
              </div>
              
        </div><!-- panel-body -->
                       </div><!-- panel -->
          </form>     
        </div>
  {% endblock %}