<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ asset('images/favicon.png')}}" type="image/png">

  <title>Point d'accès sécurisé</title>

  <link href="{{ asset('css/style.default.css')}}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js')}} IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{{ asset('js/html5shiv.js')}}"></script>
  <script src="{{ asset('js/respond.min.js')}}"></script>
  <![endif]-->
</head>

<body class="signin">

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> E-scolarite <span>]</span></h1>
                    </div><!-- logopanel -->
                
                    <div class="mb20"></div>
                
                    <h5><strong>Bienvenue à l'espace étudiant de E-scolarite</strong></h5>
                    <img src="{{ asset('images/logo-fp.png') }}">
                    <div class="mb20"></div>
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
                
                <form method="post" action="{{ path('front_login_check') }}" id="login" method="post">
                    <h4 class="nomargin">Point d'accès</h4>
                    <p class="mt5 mb20">Espace étudiant de E-scolarite.</p>
                    <label for="username">Code national de l'étudiant :</label>
                    <input type="text" style="margin-top:0px !important;margin-bottom:10px" class="form-control uname" id="username" name="_username" placeholder="CNE" value="{{ last_username }}"/>
                    <label for="password">Code apogée :</label>
                    <input type="password" style="margin-top:0px !important;" class="form-control pword" id="password" name="_password" placeholder="CODE APOGEE" />
                    {% if errors %}
          					<div class="nNote nFailure">
          						<p>{{ errors.message }}</p>
          					</div>
          					{% endif %}
                    <button class="btn btn-success btn-block" type="submit">Connexion</button>
                    
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. Tous droits réservés à la faculté polydisciplinaire de Beni-mellal. 
            </div>
            <div class="pull-right">
                Crée par : <a href="http://usms.ma/" target="_blank">Université Sultan Moulay Slimane - Beni-mellal</a>
            </div>
        </div>
        
    </div><!-- signin -->
  
</section>


<script src="{{ asset('js/jquery-1.10.2.min.js')}}"></script>
<script src="{{ asset('js/jquery-migrate-1.2.1.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.min.js')}}"></script>
<script src="{{ asset('js/modernizr.min.js')}}"></script>
<script src="{{ asset('js/retina.min.js')}}"></script>

<script src="{{ asset('js/custom.js')}}"></script>

</body>
</html>
