{% extends "::layout.html.twig" %}

{% block title %} Traitement de la demande {% endblock %}

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Configuration</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('type-reclamation_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ reclamation</a>
    </li>
    <li><a href="{{ path('type-reclamation') }}"><i class="fa fa-caret-right"></i>Liste typ de reclamation</a></li>
    <li><a href="{{ path('type-demande_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ demande</a></li>
    <li><a href="{{ path('type-demande') }}"><i class="fa fa-caret-right"></i>Liste typ demande</a></li>
    <li><a href="{{ path('import_data') }}"><i class="fa fa-caret-right"></i>Importation</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Listes des administrateurs</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Creer un Administrateur</a></li>
  </ul>
</li>
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamation') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
    </li>
  </ul>
</li>
<li class="nav-parent active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listedemande') }}"><i class="fa fa-caret-right"></i>Liste des demandes</a>
    </li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="col-md-12">
          <form id="basicForm" action="{{ path( 'traiterdemande', { id: demande.id } ) }}" class="form-horizontal" novalidate="novalidate" method="POST">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Traitement de la demande</h4>
                <p>Vous pouvez fixer un Rendez-vous pour cette demande!</p>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label"> CNE <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                      <input type="text" name="cne" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.cne }}" >
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-3 control-label"> Nom <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="email" name="nom" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.nom }}" >
                  </div>
                </div>
                 <div class="form-group">
                  <label class="col-sm-3 control-label"> Prénom <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="email" name="prenom" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.prenom }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"> Type de pièce <span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="email" name="type" class="form-control"  readonly="true" required="" value="{{ demande.typeDemande.libelle }}" >
                  </div>
                </div>
<div class="form-group">
<label class="col-sm-3 control-label"> Justification <span class="asterisk">*</span></label>
<div class="col-sm-9">
<input type="text" name="justification" class="form-control"  required>
</div>
</div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"> Rendez-vous <span class="asterisk">*</span></label>
                 <div class="input-group">
                <input type="text" class="form-control" placeholder="dd-mm-yy" id="datepicker" name="rv" onkeypress="vider()" required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
              
          </div>
        </div><!-- panel-body -->
              
              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3">
                      <button class="btn btn-primary" type="submit" name="fixer"  value="fixer" >Fixer</button>
                      <button class="btn btn-default" type="submit" name="rejeter" value="rejeter" >Rejeter</button>
                  </div>
                </div>
              </div>
            
          </div><!-- panel -->
          </form>     
        </div>
        

        
{% endblock %}


{% block javascripts %}
  {{ parent()}}
  <script>
   
    jQuery(document).ready(function(){
      
      // Date Picker

        jQuery('#datepicker').datepicker({ dateFormat: "dd-mm-yy" });
      });

  </script>
{% endblock %}
