{% extends "::frontend.html.twig" %}

{% block title %}Etudiant|Module libre{{parent()}}{% endblock %}
{% block pageTitle %}
        <i class="fa fa-home"></i> Module Libre
{% endblock %}
{% block breadcrumb %}


{% endblock %}

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Consulter les rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    {% if app.session.get('serviceState') == 'yes' %}
    <li><a href="{{ path('changer') }}"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
    <li><a href="{{ path('module_libre') }}"><i class="fa fa-caret-right"></i>Module libre</a></li>
    <li><a href="{{ path('ElemRef') }}"><i class="fa fa-caret-right"></i>Elément à refaire</a></li>
    {% endif %}
  </ul>
</li>
{% endblock %}
{% block content %}


<div class="col-md-12">
  <div class="panel panel-default"> 
    <div class="panel-heading">
     <div class="panel-btns">
      <a href="#" class="minimize">−</a>
       </div>
        <h4 class="panel-title">Vous trouverez ci-dessous le module libre (5eme module) que vous pouvez choisir.</h4>
         
          </div>
           <div class="panel-body">
                    <form action="{{ path('demande-module-libre') }}" class="form-horizontal" novalidate="novalidate" method="POST">
                      
                      <div class="form-group">
                      <label class="col-sm-4">les Modules normaux  au Semestre {{semestre}}  sont :</label>
                      <p></p>  
                      <table>
                          {% for  module in moduleSemestre %}
                          <tr><td>&nbsp;&nbsp;-{{module.lib}}</td></tr>
                          {% endfor %}    
                          <tr><td>&nbsp;&nbsp;-{{nonValider.element.lib}}</td></tr>   
                       </table>
                      </div>
                      
                     
                      <div class="form-group">
                        <br>
                        <label class="col-sm-4">Le Module libre est : </label>
                        <div class="col-sm-4">
                          <div >
                        <input type="checkbox" name="modulelibre" value="{{ moduleLibre.code}}" >
                        &nbsp;{{ moduleLibre.lic}}
                        <input type="hidden" name="module5Lib" value="{{moduleLibre.lic}}">
                        <input type="hidden" name="module5Code" value="{{moduleLibre.code}}">

                        

                      </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-sm-4"></label>
                        <div class="col-sm-6 col-sm-offset-3">
                          <center>   <button class="btn btn-primary">Envoyer</button></center>

                        </div>
                      </div>
            
                    </form>



</div><!-- panel-body --> <div class="panel-footer"> <div class="row"> <div class="col-sm-9 col-sm-offset-3">  </div> </div> </div> </div><!-- panel --> </div>



























          
 </div>

{% endblock %}
