{% extends "::layout.html.twig" %}
{% block pageTitle %}
    <i class="fa fa-file-text"></i>
    Module libre

{% endblock %}
{% block breadcrumb %}
  <li><a href="{{ path('notification-admin') }}">Notification</a></li>
          <li class="active">traiter une demande</li>

{% endblock %}

{% block title %} Traitement des modules libres {% endblock %}

{% block mainMenu %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Configuration</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('type-reclamation_new') }}"><i class="fa fa-caret-right"></i>Ajouter un type de réclamations</a>
    </li>
    <li><a href="{{ path('type-reclamation') }}"><i class="fa fa-caret-right"></i>Liste des types de réclamations</a></li>
    <li><a href="{{ path('type-demande_new') }}"><i class="fa fa-caret-right"></i>Ajouter un type de demandes</a></li>
    <li><a href="{{ path('type-demande') }}"><i class="fa fa-caret-right"></i> Liste des types de demandes</a></li>
    <li><a href="{{ path('import_data') }}"><i class="fa fa-caret-right"></i>Importation</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Listes des administrateurs</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Créer un Administrateur</a></li>
  </ul>
</li>
{% else %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Réclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamation') }}"><i class="fa fa-caret-right"></i> Liste des réclamations</a>
    </li>
  </ul>
</li>
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li>
      <a href="{{ path('listedemande') }}"><i class="fa fa-caret-right"></i> Demandes de pièces</a>
    </li>
    <li><a href="{{ path('listedemandechangement') }}"><i class="fa fa-caret-right"></i>Changement de module</a></li>
    <li><a href="{{ path('listeelementrefaire') }}"><i class="fa fa-caret-right"></i>Elément à refaire</a></li>
    <li><a href="{{ path('listemodulelibre') }}"><i class="fa fa-caret-right"></i>Module libre</a></li>

  </ul>
</li>
{% endif %}
{% endblock %}
{% block pageTitle %}
        <i class="glyphicon glyphicon-refresh"> </i>Demande Module libre
      {% endblock %}
       {% block breadcrumb %}
          <li><a class="active">demande</a></li>
          <li class="active">traitement module libre</li>
          {% endblock %}

{% block content %}
{% block content %}
<div class="col-md-12">
          <form id="basicForm" action="{{ path( 'traitermodulelibre', { id: demande.id } ) }}" class="form-horizontal" novalidate="novalidate" method="POST">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Traitement d'un module libre</h4>
                <p>Vous pouvez fixer un Rendez-vous pour cette demande</p>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label"> CNE </label>
                  <div class="col-sm-9">
                      <input type="text" name="cne" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.cne }}" >
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-3 control-label"> Nom </label>
                  <div class="col-sm-9">
                    <input type="email" name="nom" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.nom }}" >
                  </div>
                </div>
                 <div class="form-group">
                  <label class="col-sm-3 control-label"> Prénom </label>
                  <div class="col-sm-9">
                    <input type="email" name="prenom" class="form-control"  readonly="true" required="" value="{{ demande.etudiant.prenom }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"> Type de la demande </label>
                  <div class="col-sm-9">
                    <input type="email" name="type" class="form-control"  readonly="true" required="" value="{{ demande.typeDemande.libelle }}" >
                  </div>
                </div>
<div class="form-group">
<label class="col-sm-3 control-label"> Justification </label>
<div class="col-sm-9">

<input type="text" name="justification" class="form-control"  required="required">

</div>
</div>
             
              <div class="form-group">
                  <label class="col-sm-3 control-label"> Rendez-vous <span class="asterisk">*</span></label>
                 <div class="input-group">

                <input type="text" class="form-control" placeholder="dd-mm-yy" id="datepicker" name="rv" >

                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
              
          </div>
        </div><!-- panel-body -->
              
              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3">
                      <button class="btn btn-primary" type="submit" name="fixer"  value="fixer" >Fixer</button>
                      <button class="btn btn-default" type="submit" name="rejeter" value="rejeter" >Rejeter</button>
                  </div>
                </div>
              </div>
            
          </div><!-- panel -->
          </form>     
        </div>
        
  
        
{% endblock %}


{% block javascripts %}
  {{ parent()}}
  <script>

    jQuery(document).ready(function(){
      
      // Date Picker

        jQuery('#datepicker').datepicker({ dateFormat: "dd-mm-yy" });
      });

  </script>
{% endblock %}
