{% extends "::layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="#" class="minimize">&minus;</a>
      </div>
      <h4 class="panel-title">Liste des administrateurs</h4>
      <p></p>
    </div>

    <div class="panel-body">
      <table class="table  table-hidaction table-hover" id="list-type">
          <thead>
             <tr>
                <th>N° Admin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>E-mail</th>
                <th>Date de création</th>
                <th>Etat</th>
                <th>Actions</th>
             </tr>
          </thead>
          <tbody>
             
             {% for Admin in entities %}
                <tr class="odd gradeX">
                    <td>{{ Admin.id }}</td>
                    <td>{{ Admin.nom }}</td>
                    <td>{{ Admin.prenom }}</td>
                    <td>{{ Admin.email }}</td>
                    <td>{{ Admin.createdAt|date('d/m/Y') }}</td>
                    {% if ( Admin.expired)%}
                    <td>Activé</td>
                    {% else %}
                    <td>desactivé</td>
                    {% endif %}
                    <td  class="table-action-hide">
                        <a href="{{ path('admin_show', { 'id': Admin.id }) }}"><i class="fa fa-list-alt" title="show"></i></a>
                        <a href="{{ path('admin_edit', { 'id': Admin.id }) }}" class="delete-row" title="edit"><i class="fa fa-pencil"></i></a>
                        
                    </td>
                </tr>
            {% endfor %}
          </tbody>
       </table>
    </div><!-- panel-body -->
    
  <div class="panel-footer">
   <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <center><a href="{{ path('admin_new') }}" class="btn btn-primary">Ajouter un administrateur</a></center>
    </div>
   </div>
  </div><!-- panel-footer -->

</div><!-- panel -->
{% endblock %}
 
 {% block javascripts %}
   {{ parent() }}               
  <script>
    jQuery(document).ready(function() {
      jQuery('#list-type').dataTable({
        "sPaginationType": "full_numbers"
      });
    
        // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
    });
  </script>          
{% endblock %}








        



