{% extends "::frontend.html.twig" %}
{% block pageTitle %}
    <i class="fa fa-file-text"></i>
    Demande

{% endblock %}
{% block breadcrumb %}
  <li><a href="{{ path('rendezvous') }}">Rendezvous</a></li>
          <li class="active">Demander une piece</li>

{% endblock %}
{% block title %} Demande de pièces {% endblock %}

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Consulter les rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    <li><a href="{{ path('changer') }}"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}

<div class="col-md-12">
          <form id="basicForm" action="{{ path('demandepiece') }}" class="form-horizontal" novalidate="novalidate" method="POST">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Demande de Pièces</h4>
                <p>Vous pouvez faire votre demande pour la pièce que vous voulez récuprérer auprès du service de scolartié.</p>
              </div>
              <div class="panel-body">
          <div class="form-group">
            <div class="col-md-6">
              <label class="col-sm-3 control-label">Type de Pièce</label>
              <select name="demande" class="form-control mb15">
               {% for  typedemande in typesdemandes %} 
                 
                <option value="{{ typedemande.code }}">{{ typedemande.libelle }}</option>  
              
               {% endfor %}
               </select>
               <button class="btn btn-primary">Envoyer</button>
          </div>
          </div>        
        </div><!-- panel-body -->
      </div><!-- panel -->
    </form>     
  </div>

{% endblock %}