{% extends "::frontend.html.twig" %}

{% block title %} Rendez-Vous {% endblock %}   

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent   active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children"  style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Demande un rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="col-md-12">
          <form id="basicForm" action="http://themepixels.com/demo/webpage/bracket/form-validation.html" class="form-horizontal" novalidate="novalidate">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Rendez-Vous</h4>
                <p>Vous pouvez consultez vos demandes ainsi que vos rendez-vous!</p>
              </div>
                    <div class="panel-body">
      <table class="table  table-hidaction table-hover" id="list-type">
           <thead>
              <tr>
                <th>Numéro</th>
                <th>Type de pièce</th>
                <th>Date de Rendez-Vous</th>
                <th>Etat de la Demande</th>
              </tr>
            </thead>
            <tbody>
                {% for etatdemande in demandes %}  
                <tr>
                    <td>{{ etatdemande.demande.id }}</td>
                    <td>{{ etatdemande.demande.typeDemande.libelle }}</td>
                    <td> 
                        {% if etatdemande.demande.dateReponce %}
                                {{ etatdemande.demande.dateReponce|date('d/m/Y') }} 
                        {% else %}
                                
                        {% endif %}                            
                    </td>
                    <td>
                       {{ etatdemande.etat }}
                    </td>
                </tr>
                {% endfor %}
             </tbody>
       </table>
    </div><!-- panel-body -->
              <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-bordered mb30">
           
            </table>
          </div><!-- table-responsive -->
        </div><!-- panel-body -->
      </div><!-- panel -->
    </form>     
  </div>        

{% endblock %}

{% block javascripts %}
   {{ parent() }}               
  <script>
    jQuery(document).ready(function() {
      jQuery('#list-type').dataTable({
        "sPaginationType": "full_numbers"
      });
    
        // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
    });
  </script>          
{% endblock %}

