{% extends "::layout.html.twig" %}
{% block breadcrumb %}
  <li><a href="{{ path('listerReclamation') }}">Liste des reclamations</a></li>
          <li class="active">Repondre</li>


{% endblock %}
{% block title %} repondre une reclamation {% endblock %}

{% block mainMenu %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Configuration</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('type-reclamation_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ reclamation</a>
    </li>
    <li><a href="{{ path('type-reclamation') }}"><i class="fa fa-caret-right"></i>Liste typ de reclamation</a></li>
    <li><a href="{{ path('type-demande_new') }}"><i class="fa fa-caret-right"></i>Ajouter typ demande</a></li>
    <li><a href="{{ path('type-demande') }}"><i class="fa fa-caret-right"></i>Liste typ demande</a></li>
    <li><a href="{{ path('import_data') }}"><i class="fa fa-caret-right"></i>Importation</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Listes des administrateurs</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i>Creer un Administrateur</a></li>
  </ul>
</li>
{% else %}
<li class="nav-parent  active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children" style="display: block;">
    <li>
      <a href="{{ path('listerReclamation') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
    </li>
  </ul>
</li>
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listedemande') }}"><i class="fa fa-caret-right"></i>Liste des demandes</a>
    </li>
    <li><a href="{{ path('listedemandechangement') }}"><i class="fa fa-caret-right"></i>Liste des changements</a></li>
  </ul>
</li>
{% endif %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
            {{ form_start(form,{'attr' : {'class' : 'form-horizontal form-bordered', 'novalidate':'novalidate'}})}}
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="#" class="panel-close">&times;</a>
                <a href="#" class="minimize">&minus;</a>
              </div>
              <h4 class="panel-title">Traiter une reclamation</h4>
              <p>Cette interface permet de traiter une reclamation d'un etudiant</p>
            </div>

            <div class="panel-body panel-body-nopadding">
              
              
                {% if errors %}
                <div class="error" style="display:block;padding : 25px 50px;">
                  {% for err in errors %}
                  <label class="error">{{ err | raw }}</label>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="form-group">
                  <label class="col-sm-3 control-label" >Objet  :</label>
                  <div class="col-sm-6">
                    <label class="form-control" >{{entity.objet}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Type :</label>
                  <div class="col-sm-6">
                    <label class="form-control" >{{entity.typeReclamation.libelle}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" >Desctiption :</label>
                  <div class="col-sm-6">
                    <textarea readonly class="form-control" >{{entity.description}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="{{ form.reponse.vars.id }}">Reponse <span class="asterisk">*</span> :</label>
                  <div class="col-sm-6">
                    {{ form_widget(form.reponse,{'attr' : {'class' : 'form-control'}})}}
                  </div>
                </div>
                {{ form_rest(form)}}
                
              
            </div><!-- panel-body -->
            
          <div class="panel-footer">
           <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <button type="submit" name="status" value="valider" class="btn btn-primary">Valider</button>
              <button type="submit" name="status" value="refuser" class="btn btn-primary">Refuser</button>
            </div>
           </div>
          </div><!-- panel-footer -->
          {{ form_end(form)}}
          </div><!-- panel -->

{% endblock %}
