{% extends "::layout.html.twig" %}


{% block title %} Elément à refaire {% endblock %}

{% block pageTitle %}
        <i class="glyphicon glyphicon-refresh"> </i>Demande Refaire un élement
{% endblock %}
{% block breadcrumb %}
        <li><a class="active">demande</a></li>
        <li class="active">liste élement à refaire</li>
{% endblock %}

{% block mainMenu %}
<li class="nav-parent">
  <a href="#"><i class="fa fa-home"></i> <span>Reclamations</span></a>
  <ul class="children">
    <li>
      <a href="{{ path('listerReclamationEtud') }}"><i class="fa fa-caret-right"></i>Liste des reclamations</a>
      <a href="{{ path('reclamationEtud') }}"><i class="fa fa-caret-right"></i>Envoyer une reclamation</a>
    </li>
  </ul>
</li>
<li class="nav-parent   active nav-active">
  <a href="#"><i class="fa fa-home"></i> <span>Demandes</span></a>
  <ul class="children" style="display: block;">
    <li><a href="{{ path('rendezvous') }}"><i class="fa fa-caret-right"></i>Consulter les rendez-vous</a></li>
    <li><a href="{{ path('demandepiece') }}"><i class="fa fa-caret-right"></i>Demande une piece</a></li>
    {% if app.session.get('serviceState') == 'yes' %}
    <li><a href="{{ path('changer') }}"><i class="fa fa-caret-right"></i>Changement de Module</a></li>
    <li><a href="{{ path('module_libre') }}"><i class="fa fa-caret-right"></i>Module libre</a></li>
    <li><a href="{{ path('ElemRef') }}"><i class="fa fa-caret-right"></i>Elément à refaire</a></li>
    {% endif %}
  </ul>
</li>
{% endblock %}

{% block content %}
                    <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  
                  <a href="#" class="minimize">&minus;</a>
                </div>
                {% if err != "" %}
                <div class="error" style="display:block;padding : 25px 50px;">
                  <label class="error">{{ err }}</label>
                  </div>
                {% endif %}
                
                <h4 class="panel-title">Elément à refaire :</h4>
                
                {% if elements is empty %}
                <div class="alert alert-danger" style="margin-top: 63px;margin-bottom: 63px;">
                  <center><label>Vous n'avez aucun élément à refaire</lable><center>
                </div>
                {% else %}
                
                <div class="tab-content">
                  <form method="post" action="">
                  <div class="tab-pane active" id="tab1">
                    <form class="form" action="data">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Module </label>
                          <div class="col-sm-6">
                            <label >Element </label>
                          </div>
                      </div>

                      
                      {% for el in elements %}

                      <div class="form-group">
                              <label class="col-sm-3 control-label"> {{el.element.parent.lib}}</label>                              
                              <div class="col-md-6">                                
                                  <div class="">
                                    {% if el.etat == 0 %}
                                    <span class="glyphicon glyphicon-check" title="deja demandé"></span>
                                    {% else %}
                                    <input type="checkbox" name="elements[]" value="{{el.element.code}}" id="checkboxDefault"  />
                                    {% endif %}
                                    <label for="checkboxDefault">{{el.element.lib}}</label>
                                  </div>
                                                                    
                              </div>
                      </div>

                      {% endfor %}



                      <br><br><br><br>
                      {% if aucunElementDemande == false %}
                      <center>
                        <button class="btn btn-primary">Envoyer</button>&nbsp;
                      </center>
                      {% endif %}
                      </div>
                      </form>
                      
                    
                  </div>
                  {% endif %}
                  </div>
                  
                  

                  
                  
                  
                </div><!-- tab-content -->
             


{% endblock %}
